@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #0E0E0E;
  background: #F2F2F2;
  box-sizing: border-box;
}

li {
  cursor: pointer;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth; 
}

.slick-dots li button:before {
  font-family: "" !important;
  font-size: 0 !important;
  line-height: 0 !important;
  content: '' !important;
  width: 24px !important;
  height: 3px !important;
  margin-top: 10px;
  background-color: #B680F9;
}