@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-color: #F2F2F2;
  --text-color: #0E0E0E;
}

:root.dark {
  --bg-color: #0E0E0E;
  --text-color: #FFFFFF;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  box-sizing: border-box;
  font-family: 'IBMPlexSansKR-Regular';
}

li {
  cursor: pointer;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth; 
}

.slick-dots li button:before {
  font-family: "" !important;
  font-size: 0 !important;
  line-height: 0 !important;
  content: '' !important;
  width: 24px !important;
  height: 6px !important;
  margin-top: 25px;
  background-color: #B680F9;
}