@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
  font-family: 'Noto Sans KR', sans-serif;
}


@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}


body {
  color: #0E0E0E;
  background: #F2F2F2;
  box-sizing: border-box;
  /* font-family: 'Noto Sans KR', sans-serif; */
  font-family: 'IBMPlexSansKR-Regular';
  /* font-family: 'SUITE-Regular'; */
}

li {
  cursor: pointer;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth; 
}

.slick-dots li button:before {
  font-family: "" !important;
  font-size: 0 !important;
  line-height: 0 !important;
  content: '' !important;
  width: 24px !important;
  height: 5px !important;
  margin-top: 10px;
  background-color: #B680F9;
}